{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1>Posts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Contents</th>
                <td>{{ post.contents }}</td>
            </tr>
            <tr>
                <th>Contents2</th>
                <td>{{ post.contents2 }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ post.slug }}</td>
            </tr>
            <tr>
                <th>ImgPost</th>
                <td>{{ post.imgPost }}</td>
            </tr>
            <tr>
                <th>ImgPost2</th>
                <td>{{ post.imgPost2 }}</td>
            </tr>
            <tr>
                <th>ImgPost3</th>
                <td>{{ post.imgPost3 }}</td>
            </tr>
            <tr>
                <th>ImgPost4</th>
                <td>{{ post.imgPost4 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_posts_index') }}">back to list</a>

    <a href="{{ path('app_back_posts_edit', {'id': post.id}) }}">edit</a>

    {{ include('back/posts/_delete_form.html.twig') }}
{% endblock %}
