{% extends 'base.html.twig' %}

{% block title %}Pages index{% endblock %}

{% block body %}
    <h1>Pages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Contenu</th>
                <th>imgHeader</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.title }}</td>
                <td>
                    <img src={{page.imgThumbnail}} alt="imgHeader" width="100px">
                </td>
                <td>
                    <a href="{{ path('app_back_pages_show', {'id': page.id}) }}">show</a>
                    <a href="{{ path('app_back_pages_edit', {'id': page.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_pages_new') }}">Create new</a>
{% endblock %}
