{% extends 'base.html.twig' %}

{% block title %}Pages{% endblock %}

{% block body %}
    <h1>Pages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ page.title }}</td>
            </tr>
            <tr>
                <th>Subtitle</th>
                <td>{{ page.subtitle }}</td>
            </tr>
            <tr>
                <th>Contents</th>
                <td>{{ page.contents }}</td>
            </tr>
            <tr>
                <th>Contents2</th>
                <td>{{ page.contents2 }}</td>
            </tr>
            <tr>
                <th>Images de couverture</th>
                <td>
                    <img src={{page.imgThumbnail}} alt="" />
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_pages_index') }}">back to list</a>

    <a href="{{ path('app_back_pages_edit', {'id': '84'}) }}">edit</a>

    {{ include('back/pages/_delete_form.html.twig') }}
{% endblock %}
