<!DOCTYPE html>
<html>
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

        <!-- Bootstrap icons -->
        <script src="https://kit.fontawesome.com/f611d5d8e1.js" crossorigin="anonymous"></script>

        <!-- Our custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/krea.css') }}">
        

        <title>Backoffice Theneau Maxime</title>
        
        <link rel="icon" href="{{ asset('favicon.png') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
		<div class="container">



<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-flex-direction-column is-align-items-flex-start" href="/">
      Backoffice de <span class="krea is-size-4">Krea Tout Eure</span>
    </a>


    <a role="button" class="navbar-burger navbar-item" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <i class="fas fa-bars"></i>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Accueil
      </a>
      
      {% if is_granted('ROLE_USER') %}
          <a class="navbar-item" href="/posts">
              Les articles 
          </a>
          <a class="navbar-item" href="/posts/new">
              Nouvelle article
          </a>
          
            <a class="navbar-item" href={{ path('app_back_user_edit', {'id': app.user.id}) }}>
                Mon compte
            </a>
      {% endif %}
       {% if is_granted('ROLE_MANAGER') %}

        <a class="navbar-item" href="/user">
          Utilisateurs
        </a>
      {% endif %}
     

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            {% if app.user %}
                <a class="button is-black" href="/logout" }}">
                    <strong>Déconnexion</strong>
                </a>
            {% endif %}
            {% if not app.user %}
            <a class="button is-primary" href="{{ path('app_login') }}">
                <strong>Se connecter</strong>
            </a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>

			{% block body %}{% endblock %}

		</div>
        <script src={{asset('js/navbar.js')}}></script>
        
    </body>
</html>
